# Virtual Environment
venv/

# Browser Profile
westlaw-profile/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# macOS
.DS_Store

# Frontend
frontend/node_modules/

# Vector Database
chroma_db/